@import '../_variables.scss';
@import '../_mixins.scss';

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 2.9rem;
    font-family: "Jost", sans-serif;
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    .grid {
        width: 120rem;
        max-width: 100%;
        margin: 0 auto;
    }

    .grid__full-width {
        width: 100%;
    }

    .grid__row {
        display: flex;
        flex-wrap: wrap;
    }

    .contentPadding {
        width: 117rem !important;
    }
}