.header {
  width: 100%;
}
.header-background {
  z-index: 0;
  width: 100%;
  height: 95rem;
  display: flex;
}
.header-background-primary {
  width: 50%;
  background-color: #eff1f5;
}
.header-background-secondary {
  width: 50%;
  background-color: #fff;
}
.header-section {
  width: 100%;
  position: absolute;
  top: 10px;
  z-index: 1;
}
.header-section .header-top {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header-section .header-top-wrap {
  display: flex;
  justify-content: space-between;
}
.header-section .header-top-wrap .header-logo {
  max-width: 100%;
}
.header-section .header-top-wrap .navbar {
  width: 45rem;
  display: flex;
  justify-content: space-between;
}
.header-section .header-top-wrap .navbar .navItem {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 600;
  line-height: 4.9rem;
  text-decoration: none;
}
.header-section .header-top-wrap .navbar .navItem a:link,
.header-section .header-top-wrap .navbar .navItem a:active,
.header-section .header-top-wrap .navbar .navItem a:hover,
.header-section .header-top-wrap .navbar .navItem a:visited {
  color: inherit;
  text-decoration: none;
}
.header-section .header-top-wrap .header-top-form {
  width: 29.2rem;
  display: flex;
  justify-content: space-between;
}
.header-section .header-top-wrap .header-top-form-block .header-top-form-wrap {
  border-bottom: solid 1px var(--text-color);
  position: relative;
}
.header-section .header-top-wrap .header-top-form-block .header-top-form-wrap .header-search-input,
.header-section .header-top-wrap .header-top-form-block .header-top-form-wrap .header-search-input:focus {
  border: none;
  margin-top: 1.6rem;
  font-size: 1.6rem;
}
.header-section .header-top-wrap .header-top-form-block .header-top-form-wrap .header-search-input {
  color: var(--text-color);
}
.header-section .header-top-wrap .header-top-form-block .header-top-form-wrap .header-search-input:focus {
  outline: none;
  color: var(--black-color);
}
.header-section .header-top-wrap .header-top-form-block .header-top-form-wrap .header-search-submit {
  display: inline-block;
  box-sizing: border-box;
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: none;
  background-image: url("../images/headerImages/HeaderSearchIcon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  right: 0;
  bottom: 5px;
}
.header-section .header-top-wrap .header-top-form a .header-signin-btn,
.header-section .header-top-wrap .header-top-form a .header-cart-btn {
  margin: 1rem 0;
  padding: 5px;
  border: solid 1px var(--black-color);
  border-radius: 50%;
}
.header-section .container-center {
  display: flex;
  justify-content: center;
}
.header-section .container-center .header-slider {
  display: flex;
}
.header-section .container-center .header-slider .slider-left,
.header-section .container-center .header-slider .slider-right {
  margin-top: 27.7rem;
  font-size: 1.8rem;
  width: 50%;
}
.header-section .container-center .header-slider .slider-left {
  line-height: 1.25;
}
.header-section .container-center .header-slider .slider-left p {
  margin: 3rem auto;
}
.header-section .container-center .header-slider .slider-left-slogan {
  font-family: "Jost", sans-serif;
  color: var(--text-color);
  font-weight: lighter;
  font-size: 1.8rem;
}
.header-section .container-center .header-slider .slider-left-title {
  color: var(--black-color);
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 6.4rem;
}
.header-section .container-center .header-slider .slider-left-text {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: lighter;
}
.header-section .container-center .header-slider .slider-left-btn {
  background-color: var(--text-color);
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2rem 3rem;
}
.header-section .container-center .header-slider .slider-left-btn:hover {
  background-color: var(--white-color);
  color: var(--text-color);
  cursor: pointer;
}
.header .container-right {
  display: flex;
  justify-content: right;
}
.header .container-right .header-bottom {
  position: relative;
}
.header .container-right .header-bottom-img {
  margin-right: 1rem;
}
.header .container-right .header-bottom .header-bWrap {
  width: 40rem;
  height: 57.5rem;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 45%;
}
.header .container-right .header-bottom .header-bWrap-category {
  color: #fff;
  font-weight: lighter;
  font-size: 1.6rem;
}
.header .container-right .header-bottom .header-bWrap-title {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  font-size: 4.6rem;
}
.header .container-right .header-bottom .header-bWrap-text {
  color: #fff;
  font-size: 1.6rem;
  font-weight: lighter;
}
.header .container-right .header-bottom .header-bWrap-btn {
  background-color: #fff;
  color: #333;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2rem 3rem;
  cursor: pointer;
}

/*# sourceMappingURL=header.css.map */
