.newsletter {
    width: 100%;
}

.newsletter-section {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #223e3f;
    height: 215px;
    position: relative;
}

.newsletter-center {
    z-index: 0;
    width: 1170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.newsletter-center p {
    color: var(--white-color);
    font-family: "Playfair Display", serif;
    font-size: 4.6rem;
    font-weight: bold;
}

.newsletter-content {
    display: flex;
    justify-content: center;
}

.newsletter-title {
    width: 352px;
    line-height: 40px;
}

.newsletter-submit-input {
    width: 417px;
    height: 60px;
    background-color: inherit;
    border: solid var(--white-color) 1px;
    font-size: 1.4rem;
}

.newsletter-submit {
    display: flex;
    align-items: center;
}

.newsletter-submit-block {
    display: flex;
    justify-content: center;
}

.newsletter-submit-button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    width: 52px;
    height: 60px;
}

.newsletter-submit-icon {
    text-align: center;
    line-height: 60px;
    font-weight: bold;
}

.newsletter-img {
    z-index: 1;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
}