.section-gap-120{
    padding-top: 80px;
    padding-bottom: 80px;
}
.user-page-title{
    margin-top: 0px;
    margin-bottom: 10px;
}

.defaut-input-block{
    height: 50px;
    margin-bottom: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: #696969;
    border-radius: 0px;
}
.button-black-medium :hover{
    background-color: #fff;
    color: #1e1c1c;
}

.button-black-medium{
    padding: 10px 20px;
    border-style: solid;
    border-width: 1px;
    border-color: #1e1c1c;
    transition: border-color 300ms ease, color 300ms ease, background-color 300ms ease;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.user-page-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 0.5fr 1fr 0.5fr;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    flex-direction: column;
}
.user-page-inner-block {
    width: 50%;
    text-align: center;
}

.user-form-block {
    margin-top: 20px;
    text-align: left;
}
.user-inner-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.user-bottom-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}
body {
  -webkit-text-size-adjust: 100%;
  font-family: Jost, sans-serif;
  color: #696969;
  font-size: 16px;
  line-height: 2;
  box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
.default-input-label {
    margin-bottom: -25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1e1c1c;
    font-weight: 400;
}
h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Playfair Display', sans-serif;
    color: #1e1c1c;
    font-size: 48px;
    line-height: 1.25;
    font-weight: 700;
}


.header {
    width: 100%;
}
  .header-background {
    z-index: 0;
    width: 100%;
    height: 95rem;
    display: flex;
  }
  .header-background-primary {
    width: 50%;
    background-color: #eff1f5;
  }
  .header-background-secondary {
    width: 50%;
  }
  .header-section {
    position: absolute;
    top: 10px;
    z-index: 9;
    width: 100%;
}
  .header-top {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .header-top-block {
    display: flex;
    justify-content: space-between;
  }
  .headerLogo-link {
    max-width: 100%;
  }
  nav.navbar {
    width: 450px;
    display: flex;
    justify-content: space-between;
  }
  div.navItem {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
  }
  .navItem {
    font-weight: bolder;
    line-height: 49px;
  }
  .navItem a:link,
  a:active,
  a:hover,
  a:visited {
    color: var(--text-color);
    text-decoration: none;
  }
  .header-form {
    width: 292px;
    display: flex;
    justify-content: space-between;
  }
  .header-form-section {
    border-bottom: solid 1px var(--text-color);
    position: relative;
  }
  .header-search-input {
    margin-bottom: 0px;
    padding-right: 32px;
    padding-bottom: 3px;
    padding-left: 0px;
    border-style: none none solid;
    border-width: 1px;
    border-color: #000 #000 #898989;
    background-color: transparent;
    color: #494949;
}
  .header-search-input {
    color: var(--text-color);
  }
  .header-search-submit {
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    background-image: url("./pic1/headerSearchIcon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    right: 0;
    bottom: 5px;

  }

  .header-search-input:focus {
    outline: none;
    color: var(--black-color);
  }
  .header-signin-btn,
  .header-cart {
    margin: 1rem 0;
    padding: 5px;
    border: solid 1px var(--black-color);
    border-radius: 50%;
  }
  .container-center {
    display: flex;
    justify-content: center;
  }
  .container-right {
    display: flex;
    justify-content: right;
  }
  .header-slider {
    display: flex;
  }
  .header-slider .slider-left,
  .header-slider .slider-right {
    margin-top: 27.7rem;
    font-size: 1.8rem;
    width: 50%;
  }
  .header-slider .slider-left {
    line-height: 1.25;
  }
  .slider-left p {
    margin: 3rem auto;
  }
  .slider-left .slider-slogan {
    color: var(--text-color);
    font-weight: lighter;
    font-size: 1.8rem;
  }
  .slider-left .slider-title {
    color: var(--black-color);
    font-family: "Playfair Display", serif;
    font-weight: bolder;
    font-size: 6.4rem;
  }
  .slider-left .slider-content {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: lighter;
  }
  .slider-btn {
    background-color: var(--text-color);
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2rem 3rem;
  }
  .slider-btn:hover {
    background-color: var(--white-color);
    color: var(--text-color);
  }
  .header-botton {
    position: absolute;
  }
  .header-bottom-text {
    width: 400px;
    height: 575px;
    text-align: center;
    position: relative;
    top: -40%;
    left: 45%;
  }
  .header-text-category {
    color: var(--white-color);
    font-weight: lighter;
    font-size: 1.6rem;
  }
  .header-text-title {
    color: var(--white-color);
    font-family: "Playfair Display", serif;
    font-weight: bolder;
    font-size: 4.6rem;
  }
  .header {
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: lighter;
  }
  .header-text-btn {
    background-color: var(--white-color);
    color: var(--text-color);
    border: none;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2rem 3rem;
  }
  .container-content {
    width: 100%;
  }

  .container {
    max-width: 1140px;
}
  .breadcrumb-section {
    position: relative;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: #eff1f5;
}
.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.breadcrumb-block {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  margin-top: 20px;
}

.breadcrumb-block {
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
}

.breadcrumb-text {
  color: #494949;
  font-size: 18px;
}

.breadcrumb-title {
  font-size: 56px;
}
.breadcrumb-title {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 48px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Playfair Display', sans-serif;
  color: #1e1c1c;
  font-size: 64px;
  line-height: 1.25;
  font-weight: 700;
}

h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 10px;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
footer {
  display: flex;
  justify-content: center;
}

.w-nav {
  position: relative;
  background: #eff1f5;
  z-index: 1000;
}

.header-menu {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.w-nav-menu {
  position: relative;
  float: right;
}

a {
  color: #1e1c1c;
  font-size: 18px;
  text-decoration: underline;
}
a {
  background-color: transparent;
}
.footer-text {
  margin-top: 25px;
  margin-bottom: 20px;
  color: #494949;
}

.footer-social-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Playfair Display', sans-serif;
  color: #1e1c1c;
  font-size: 36px;
  line-height: 1.25;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
img {
  border: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.w-dropdown-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  cursor: pointer;
  padding-right: 40px;
}

.header-block {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
}

.header-block {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  align-items: center;
}


