.ListProduct {
    width: 100%;
}

.ListProduct img {
    width: 100%;
    height: 70%;
    border-bottom: 1px solid;
}

.item {
    border: 1px solid;
    width: 250px;
    height: 300px;
    margin: 10px 10px 10px 10px;
    float: left;
    position: relative;
}
.item:hover{
    transition: 1s;
    opacity: 0.6;
}
.item:hover .add-cart{
    opacity: 1;
    transition: 1s;
}

.item-title {
    text-align: center;
}

.item-price {
    text-align: center;
}

.add-cart {
    position: absolute;
    top: 45%;
    left: 33%;
    border: 1px solid;
    text-decoration: none;
    padding: 3px 5px 3px 5px;
    background-color: white;
    color: inherit;
    opacity: 0;
}
