@import '../variables.scss';
@import '../mixins.scss';

.newsletter-section {
    @include bgc($dVioletColor);
    width: 100%;
    height: 21.5rem;
    margin-top: 2rem;
    position: relative;

    .newsletter-block {
        @include containerPadding();
        @include contentAlignFlex('center');
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .newsletter-wrap {
            @include contentAlignFlex('center');
            display: flex;
            justify-content: center;

            .newsletter-title {
                width: 35rem;
                line-height: 4rem;

                p {
                    color: var(--white-color);
                    font-family: "Playfair Display", serif;
                    font-size: 4.6rem;
                    font-weight: bold;
                }
            }

            .newsletter-form-wrap {
                display: flex;
                align-items: center;

                .newsletter-form {
                    display: flex;
                    justify-content: center;

                    .newsletter-input {
                        width: 42rem;
                        height: 6rem;
                        background-color: inherit;
                        border: solid var(--white-color) 1px;
                        font-size: 1.4rem;

                    }

                    .newsletter-input:focus {
                        color: var(--white-color);
                        outline: none;
                    }

                    .newsletter-button {
                        margin: 0;
                        padding: 0;
                        border: none;
                        outline: none;
                        width: 5.2rem;
                        height: 6rem;
                    }

                    .newsletter-button:hover {
                        cursor: pointer;
                    }

                    .newsletter-icon {
                        color: var(--text-color);
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}