.app {
  width: 100%;
}

.header {
  width: 100%;
}

.header-background {
  z-index: 0;
  width: 100%;
  height: 95rem;
  display: flex;
}

.header-background-primary {
  width: 50%;
  background-color: #eff1f5;
}

.header-background-secondary {
  width: 50%;
}

.header-section {
  width: 100%;
  position: absolute;
  top: 10px;
  z-index: 1;
}

.header-top {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-top-block {
  display: flex;
  justify-content: space-between;
}

.headerLogo-link {
  max-width: 100%;
}

.navbar {
  width: 450px;
  display: flex;
  justify-content: space-between;
}

.navItem {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

.navItem {
  font-weight: bolder;
  line-height: 49px;
}

.navItem a:link,
a:active,
a:hover,
a:visited {
  color: var(--text-color);
  text-decoration: none;
}

.header-form {
  width: 292px;
  display: flex;
  justify-content: space-between;
}

.header-form-section {
  border-bottom: solid 1px var(--text-color);
  position: relative;
}

.header-search-input,
.header-search-input:focus {
  border: none;
  margin-top: 1.6rem;
  font-size: 1.6rem;
}

.header-search-input {
  color: var(--text-color);
}

.header-search-submit {
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-image: url("../images/headerSearchIcon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  right: 0;
  bottom: 5px;
}

.header-search-input:focus {
  outline: none;
  color: var(--black-color);
}

.header-signin-btn,
.header-cart {
  margin: 1rem 0;
  padding: 5px;
  border: solid 1px var(--black-color);
  border-radius: 50%;
}

.container-center {
  display: flex;
  justify-content: center;
}

.container-right {
  display: flex;
  justify-content: right;
}

.header-slider {
  display: flex;
}

.header-slider .slider-left,
.header-slider .slider-right {
  margin-top: 27.7rem;
  font-size: 1.8rem;
  width: 50%;
}

.header-slider .slider-left {
  line-height: 1.25;
}

.slider-left p {
  margin: 3rem auto;
}

.slider-left .slider-slogan {
  color: var(--text-color);
  font-weight: lighter;
  font-size: 1.8rem;
}

.slider-left .slider-title {
  color: var(--black-color);
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  font-size: 6.4rem;
}

.slider-left .slider-content {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: lighter;
}

.slider-btn {
  background-color: var(--text-color);
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2rem 3rem;
}

.slider-btn:hover {
  background-color: var(--white-color);
  color: var(--text-color);
}

.header-botton {
  position: absolute;
}

.header-bottom-text {
  width: 400px;
  height: 575px;
  text-align: center;
  position: relative;
  top: -40%;
  left: 45%;
}

.header-text-category {
  color: var(--white-color);
  font-weight: lighter;
  font-size: 1.6rem;
}

.header-text-title {
  color: var(--white-color);
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  font-size: 4.6rem;
}

.header {
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: lighter;
}

.header-text-btn {
  background-color: var(--white-color);
  color: var(--text-color);
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2rem 3rem;
}

.container-content {
  width: 100%;
}

.subscribe-section {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #223e3f;
  height: 215px;
  position: relative;
}

.subscribe-center {
  z-index: 0;
  width: 1170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

.subscribe-center p {
  color: var(--white-color);
  font-family: "Playfair Display", serif;
  font-size: 4.6rem;
  font-weight: bold;
}

.subscribe-content {
  display: flex;
  justify-content: center;
}

.subscribe-title {
  width: 352px;
  line-height: 40px;
}

.subscribe-submit-input {
  width: 417px;
  height: 60px;
  background-color: inherit;
  border: solid var(--white-color) 1px;
  font-size: 1.4rem;
}

.subscribe-submit {
  display: flex;
  align-items: center;
}

.subscribe-submit-block {
  display: flex;
  justify-content: center;
}

.subscribe-submit-button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  width: 52px;
  height: 60px;
}

.subscribe-submit-icon {
  text-align: center;
  line-height: 60px;
  font-weight: bold;
}

.subscribe-img {
  z-index: 1;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-50%);
}

/* Footer section */
.footer {
  display: flex;
  justify-content: center;
}