@import '../variables.scss';
@import '../mixins.scss';

.pagination {
    display: inline-block;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    &-btn-next,
    &-btn-prev {
        background-color: $g_whiteColor;
        color: $g_textColor;
        border: solid 1px $g_textColor;
        border-radius: 5px;
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: capitalize;
        margin: 1rem;
        padding: 0.5rem 1.5rem;
        cursor: pointer;
        white-space: nowrap;
        box-shadow: 5px 5px 10px $g_textColor;
    }

    &-btn-next:hover,
    &-btn-prev:hover {
        text-shadow: 5px 5px 10px $g_textColor;
    }

    &-count {
        font-size: 1.4rem;
        font-weight: bold;
    }
}