@import '../variables';
@import '../mixins';

.product-section {
    @include contentAlignFlex('center');

    .product-block {
        @include containerPadding();

        .product-wrap {
            position: relative;

            .product-title-wrap {
                margin-top: 10rem;

                .product-title {
                    font-family: 'Playfair Display', sans-serif;
                    color: $g_blackColor;
                    font-size: 4.6rem;
                    line-height: 1.25;
                    font-weight: 700;
                    margin: 0;
                }

                .product-title-desc {
                    font-family: 'Jost', sans-serif;
                    color: $g_textColor;
                    font-size: 1.8rem;
                    line-height: 1.66;
                    margin: 0;
                }
            }

            .product-items {
                margin-top: 7rem;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .product-item {
                    max-width: 37rem;

                    a {
                        text-decoration: none;

                        .product-item-image {
                            border-radius: 1rem;
                            box-shadow: 5px 5px 1.5rem $g_textColor;
                            width: 100%;
                            aspect-ratio: 1/1.2;

                            img {
                                width: 100%;
                                height: 100%;
                                padding: 2rem;
                                object-fit: contain;
                            }

                        }

                        .product-item-title {
                            transition: color 300ms ease;
                            font-family: 'Playfair Display', sans-serif;
                            color: $g_blackColor;
                            font-size: 2.4rem;
                            font-weight: 600;
                            margin: 0;
                            margin-top: 2rem;
                            max-width: inherit;
                            overflow: hidden;
                            display: -webkit-box;
                            text-overflow: ellipsis;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                        }

                        .product-item-title:hover {
                            color: $dGreenColor;
                            margin: 0;
                            margin-top: 2rem;
                        }

                        .product-item-cost {
                            color: $g_blackColor;
                            font-size: 1.8rem;
                            font-weight: 600;
                            margin: 0;
                            margin-bottom: 2rem;

                            .product-item-discount {
                                color: $g_textColor;
                                font-size: 1.4rem;
                                font-weight: 500;
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }
        }
    }
}