@import './_variables.scss';
@import './mixins.scss';

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .welcome-section {
        display: flex;
        justify-content: center;
        margin-top: 10rem;
        margin-bottom: 10rem;

        .welcome-left {
            width: 50%;

            .aboutDiscount {
                width: 100%;
                height: 100%;
            }
        }

        .welcome-right {
            width: 50%;
            margin-left: 5rem;

            &-title {
                font-family: 'Playfair Display', serif;
                font-size: 4.6rem;
            }

            &-stext {
                font-size: 1.8rem;
                font-weight: 500;
                line-height: 1.77;
                color: $dGreenColor;
            }

            &-text {
                font-size: 1.8rem;
                font-weight: 500;
                line-height: 1.77;
                color: var(--text-color);
            }
        }
    }

    .funfact-section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;

        .funfact-item {
            text-align: center;

            .funfact-title {
                color: $dGreenColor;
                font-size: 4.6rem;
                font-family: 'Playfair Display', serif;
                line-height: 1.25;
                font-weight: 700;
                margin: 0;
            }

            .funfact-text {
                color: $dGreenColor;
                font-family: 'Jost', sans-serif;
                font-size: 1.8rem;
                line-height: 2;
                margin: 0;
            }
        }
    }

    .promo-section {
        width: 100%;
        display: flex;
        justify-content: center;

        .promo-left {
            width: 50%;
            display: flex;
            flex-direction: column;

            .promo-desc {
                width: 80%;
                margin-right: 0;
                margin-left: auto;

                .promo-left-title {
                    color: var(--black-color);
                    font-family: 'Playfair Display', sans-serif;
                    font-size: 4.6rem;
                    font-weight: 700;
                    line-height: 1.25;
                }

                .promo-left-desc {
                    font-family: 'Jost', sans-serif;
                    color: var(--text-color);
                    font-size: 18px;
                    line-height: 1.66;
                    max-width: 54.5rem;
                }
            }

            .promo-items {
                width: 80%;
                margin-top: 2rem;
                margin-right: 0;
                margin-left: auto;
                padding-right: 8rem;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;


                .promo-item {
                    display: flex;

                    .promo-icon {
                        @include cube(6rem);
                    }

                    &-text {
                        margin-left: 1rem;

                        .promo-item-title {
                            font-family: 'Playfair Display', sans-serif;
                            color: var(--black-color);
                            font-size: 2.4rem;
                            line-height: 1.25;
                            font-weight: 700;
                            margin-top: 0;
                        }

                        .promo-item-desc {
                            font-family: 'Jost', sans-serif;
                            color: var(--text-color);
                            font-size: 1.6rem;
                            line-height: 1.75;
                            max-width: 23rem;
                        }
                    }
                }
            }
        }
    }

    .promo-right {
        width: 50%;
        position: relative;

        .promo-image {
            .aboutPromo {
                width: 100%;
                height: 100%;
            }
        }

        .promo-content {
            position: absolute;
            width: 42.5rem;
            height: 26.5rem;
            padding: 0 5.5rem 0;
            top: 10rem;
            left: 0;

            .promo-advertise {
                font-family: 'Jost', sans-serif;
                font-weight: 500;
                font-size: 1.8rem;
                color: $promoColor;
                text-transform: uppercase;
                letter-spacing: 3px;
                line-height: 2;
                margin: 3rem 0;

                &-emphasis {
                    font-weight: bold;
                }
            }

            .promo-title {
                margin: 3rem 0;
                font-family: 'Playfair Display', sans-serif;
                font-size: 4.6rem;
                color: $promoColor;
            }

            .promo-text {
                margin: 3rem 0;
                font-family: 'Jost', sans-serif;
                font-size: 1.6rem;
                color: #c0bcbc;
                line-height: 1.75;
            }

            .promo-btn {
                padding: 1.5rem 2rem;
                @include bgc($promoColor);
                border: solid 1px $promoColor;
                font-family: 'Jost', sans-serif;
                font-size: 1.4rem;
                font-weight: bold;
                color: var(--text-color);
                letter-spacing: 1px;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }
}