@import '../../assets/sass/_variables.scss';
@import '../../assets/sass/_mixins.scss';


.main-wrapper {
    font-size: 14px;
    line-height: 20px;

    .section-gap-120 {
        padding-top: 80px;
        padding-bottom: 80px;

        .user-page-block {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            grid-auto-columns: 1fr;
            grid-column-gap: 16px;
            grid-row-gap: 16px;
            -ms-grid-columns: 0.5fr 1fr 0.5fr;
            grid-template-columns: 0.5fr 1fr 0.5fr;
            -ms-grid-rows: auto;
            grid-template-rows: auto;
            flex-direction: column;

            .user-page-inner-block {
                width: 50%;
                text-align: center;

                .user-page-title {
                    margin-top: 20px;
                    margin-bottom: 10px;
                    font-family: 'Playfair Display', sans-serif;
                    color: #1e1c1c;
                    font-size: 48px;
                    line-height: 1.25;
                    font-weight: 700;
                }

                .user-form-block {
                    margin-top: 20px;
                    text-align: left;

                    .user-inner-block {
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                        -webkit-flex-direction: column;
                        -ms-flex-direction: column;
                        flex-direction: column;
                        grid-column-gap: 25px;
                        grid-row-gap: 25px;

                        .defaut-input-block {
                            height: 50px;
                            margin-bottom: 0px;
                            border-style: solid;
                            border-width: 1px;
                            border-color: #696969;
                            border-radius: 0px;
                        }

                        .button-black-medium {
                            padding: 10px 20px;
                            border-style: solid;
                            border-width: 1px;
                            border-color: #1e1c1c;
                            transition: border-color 300ms ease, color 300ms ease, background-color 300ms ease;
                            font-size: 14px;
                            font-weight: 500;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                        }

                        .button-black-medium :hover {
                            background-color: #fff;
                            color: #1e1c1c;
                        }

                        .error-message {
                            color: red;
                        }
                    }
                }
            }

            .user-bottom-block {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                grid-column-gap: 15px;
                grid-row-gap: 15px;

                .register-term {
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 0%;
                    accent-color: $g_textColor;
                }

                .user-bottom-link {
                    color: #1e1c1c;
                    font-size: 18px;
                    text-decoration: underline;
                    background-color: transparent;
                }

                .error-message {
                    color: red;
                }
            }
        }
    }
}