@import './_variables.scss';
@import './_mixins.scss';

// Variables.
$bgPriColor: #eff1f5;
$bgSecColor: #fff;

.header {
    width: 100%;
    position: relative;

    &-background {
        position: relative;
        width: 100%;
        height: 95rem;
        display: flex;
        z-index: -1;

        &-primary {
            width: 50%;
            background-color: $bgPriColor;
        }

        &-secondary {
            width: 50%;
            background-color: $bgSecColor;
        }
    }

    &-section {
        width: 100%;
        position: absolute;
        top: 10px;

        .header-top {
            width: 100%;
            display: flex;
            justify-content: center;

            &-wrap {
                display: flex;
                justify-content: space-between;

                .header-logo {
                    width: 21rem;
                    height: calc(width/3);

                    .header-img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .navbar {
                    width: 45rem;
                    display: flex;
                    justify-content: space-between;

                    .navItem {
                        font-family: 'Playfair Display', serif;
                        font-size: 2rem;
                        color: var(--text-color);
                        font-weight: 600;
                        line-height: 4.9rem;
                        text-decoration: none;

                        a:link,
                        a:active,
                        a:hover,
                        a:visited {
                            color: inherit;
                            text-decoration: none;
                        }
                    }
                }

                .header-top-form {
                    width: 29.2rem;
                    display: flex;
                    justify-content: space-between;

                    &-block {
                        .header-top-form-wrap {
                            border-bottom: solid 1px var(--text-color);
                            position: relative;

                            .header-search-input,
                            .header-search-input:focus {
                                border: none;
                                margin-top: 1.6rem;
                                font-size: 1.6rem;
                            }

                            .header-search-input {
                                color: var(--text-color);
                            }

                            .header-search-input:focus {
                                outline: none;
                                color: var(--black-color);
                            }

                            .header-search-submit {
                                display: inline-block;
                                box-sizing: border-box;
                                width: 2rem;
                                height: 2rem;
                                padding: 0;
                                border: none;
                                background-image: url("../images/headerImages/headerSearchIcon.svg");
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-color: transparent;
                                position: absolute;
                                right: 0;
                                bottom: 5px;
                            }
                        }
                    }

                    a {
                        width: 3.2rem;
                        height: 3.2rem;
                        border: 1px solid $g_textColor;
                        border-radius: 50%;
                        position: relative;
                        transform: translateY(50%);

                        .header-signin-icon {
                            font-size: 1.8rem;
                            color: $g_textColor;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        .header-cart-icon {
                            font-size: 1.8rem;
                            color: $g_textColor;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -45%);
                        }
                    }
                }
            }
        }

        .container-center {
            @include contentAlignFlex("center");

            .header-slider {
                @include containerPadding;
                position: relative;
                margin-top: 30rem;
                width: 100%;

                .slider-left {
                    font-size: 1.8rem;
                    width: 50%;
                    line-height: 1.25;

                    p {
                        margin: 3rem auto;
                    }

                    &-slogan {
                        font-family: 'Jost', sans-serif;
                        color: var(--text-color);
                        font-weight: lighter;
                        font-size: 1.8rem;
                    }

                    &-title {
                        color: var(--black-color);
                        font-family: "Playfair Display", serif;
                        font-weight: bold;
                        font-size: 6.4rem;
                    }

                    &-text {
                        color: var(--text-color);
                        font-size: 1.8rem;
                        font-weight: lighter;
                    }

                    &-btn {
                        background-color: var(--text-color);
                        color: var(--white-color);
                        font-size: 1.4rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        padding: 2rem 3rem;
                    }

                    &-btn:hover {
                        background-color: var(--white-color);
                        color: var(--text-color);
                        cursor: pointer;
                    }
                }

                .slider-right {
                    width: 75%;
                    height: 10rem;
                    position: absolute;
                    top: 0;
                    left: 50%;

                    .advertise-aside-wrap {
                        width: 80rem;
                        height: calc(width/2);

                        .advertise-aside {
                            width: 100%;
                        }
                    }
                }


            }
        }


    }

    .container-right {
        @include contentAlignFlex("right");


        .header-bottom {
            position: relative;
            width: 100%;
            text-align: right;

            &-img {
                width: 150rem;
                height: calc(width/3);
                display: inline-block;
                position: relative;
                top: 0;
                right: 0;

                .header-bottom-image {
                    width: 100%;
                    height: 100%;
                }
            }

            .header-bWrap {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(130%, 130%);

                &-btn {
                    background-color: $g_whiteColor;
                    color: $g_textColor;
                    border: none;
                    font-size: 1.4rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding: 2rem 3rem;
                    cursor: pointer;
                    white-space: nowrap;
                }
            }
        }
    }
}