// Variables.
$bgPriColor: #eff1f5;
$bgSecColor: #fff;

$tWhiteColor: #fff;
$tColor: #333;

// Mixins.
@mixin contentAlignFlex($dir: "left") {
    display: flex;

    @if $dir =="right" {
        justify-content: right;
    }

    @else if $dir =="center" {
        justify-content: center;
    }
}

.header {
    width: 100%;


    &-background {
        z-index: 0;
        width: 100%;
        height: 95rem;
        display: flex;

        &-primary {
            width: 50%;
            background-color: $bgPriColor;
        }

        &-secondary {
            width: 50%;
            background-color: $bgSecColor;
        }
    }

    &-section {
        width: 100%;
        position: absolute;
        top: 10px;
        z-index: 1;

        .header-top {
            width: 100%;
            display: flex;
            justify-content: center;

            &-wrap {
                display: flex;
                justify-content: space-between;

                .header-logo {
                    max-width: 100%;
                }

                .navbar {
                    width: 45rem;
                    display: flex;
                    justify-content: space-between;

                    .navItem {
                        font-family: 'Playfair Display', serif;
                        font-size: 2rem;
                        color: var(--text-color);
                        font-weight: 600;
                        line-height: 4.9rem;
                        text-decoration: none;

                        a:link,
                        a:active,
                        a:hover,
                        a:visited {
                            color: inherit;
                            text-decoration: none;
                        }
                    }
                }

                .header-top-form {
                    width: 29.2rem;
                    display: flex;
                    justify-content: space-between;

                    &-block {
                        .header-top-form-wrap {
                            border-bottom: solid 1px var(--text-color);
                            position: relative;

                            .header-search-input,
                            .header-search-input:focus {
                                border: none;
                                margin-top: 1.6rem;
                                font-size: 1.6rem;
                            }

                            .header-search-input {
                                color: var(--text-color);
                            }

                            .header-search-input:focus {
                                outline: none;
                                color: var(--black-color);
                            }

                            .header-search-submit {
                                display: inline-block;
                                box-sizing: border-box;
                                width: 2rem;
                                height: 2rem;
                                padding: 0;
                                border: none;
                                background-image: url("../images/headerImages/HeaderSearchIcon.svg");
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-color: transparent;
                                position: absolute;
                                right: 0;
                                bottom: 5px;
                            }
                        }
                    }

                    a {

                        .header-signin-btn,
                        .header-cart-btn {
                            margin: 1rem 0;
                            padding: 5px;
                            border: solid 1px var(--black-color);
                            border-radius: 50%;
                        }
                    }
                }
            }
        }

        .container-center {
            @include contentAlignFlex("center");

            .header-slider {
                display: flex;

                .slider-left,
                .slider-right {
                    margin-top: 27.7rem;
                    font-size: 1.8rem;
                    width: 50%;
                }

                .slider-left {
                    line-height: 1.25;

                    p {
                        margin: 3rem auto;
                    }

                    &-slogan {
                        font-family: 'Jost', sans-serif;
                        color: var(--text-color);
                        font-weight: lighter;
                        font-size: 1.8rem;
                    }

                    &-title {
                        color: var(--black-color);
                        font-family: "Playfair Display", serif;
                        font-weight: bold;
                        font-size: 6.4rem;
                    }

                    &-text {
                        color: var(--text-color);
                        font-size: 1.8rem;
                        font-weight: lighter;
                    }

                    &-btn {
                        background-color: var(--text-color);
                        color: var(--white-color);
                        font-size: 1.4rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        padding: 2rem 3rem;
                    }

                    &-btn:hover {
                        background-color: var(--white-color);
                        color: var(--text-color);
                        cursor: pointer;
                    }
                }
            }
        }


    }

    .container-right {
        @include contentAlignFlex("right");


        .header-bottom {
            position: relative;

            &-img {
                margin-right: 1rem;
            }

            .header-bWrap {
                width: 40rem;
                height: 57.5rem;
                text-align: center;
                position: absolute;
                top: 10%;
                left: 45%;

                &-category {
                    color: $tWhiteColor;
                    font-weight: lighter;
                    font-size: 1.6rem;
                }

                &-title {
                    color: $tWhiteColor;
                    font-family: "Playfair Display", serif;
                    font-weight: bolder;
                    font-size: 4.6rem;
                }

                &-text {
                    color: $tWhiteColor;
                    font-size: 1.6rem;
                    font-weight: lighter;
                }

                &-btn {
                    background-color: $tWhiteColor;
                    color: $tColor;
                    border: none;
                    font-size: 1.4rem;
                    font-weight: bold;
                    text-transform: uppercase;
                    padding: 2rem 3rem;
                    cursor: pointer;
                }
            }
        }
    }
}